* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
}

#game-container {
  width: 700px;
  margin: 0 auto;
  border: 5px solid black;
  margin-top: 5%;
}

#grid-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  color: rgb(250, 202, 46);
  background-color: rgb(245, 207, 138);
}

#banner-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

.banner-item {
  height: 25px;
}

.banner-text {
  text-align: center;
}

#grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  height: 650px;
  width: 650px;
  margin-top: 25px;
  margin-bottom: 25px;
  box-shadow: 0 0 20px 0 rgba(212, 4, 254, 0.616);
  /* border: 1px solid black; */
}


#grid div {
  border: 1px dotted black;
  flex-grow: 1;
  height: 6.5%;
  width: 6.5%;
}

.character {
  background-image: url("/Assets/Red-Needle2.gif");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: crosshair;
}

.emptyCharacter {
  background-image: url("/Assets/Red-Needle2Empty.gif");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: crosshair;
}

.fire {
  background-image: url("/Assets/Missile-red.gif");
  background-repeat: no-repeat;
  background-size: contain ;
  background-position: center;
  cursor: crosshair;
}


.virus {
  background-image: url("/Assets/Covid V4.gif");
  object-fit: none;
  background-repeat: no-repeat;
  background-size: contain ;
  background-position: center;
  cursor: crosshair;
}

