* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
}

#game-container {
  width: 700px;
  margin: 0 auto;
  border: 5px solid black;
  margin-top: 5%;
}

#grid-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  color: rgb(26, 25, 25);
  background-color: rgb(0, 0, 0);
  background-image: url('/Assets/Background-2v2.jpg');
  background-repeat: no-repeat ;
  background-position: center;
  background-size: cover;
}

#banner-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color:  rgb(0, 26, 172);
}

.banner-item {
  height: 25px;
}

#live-counter {
  font-size: larger;
}

.banner-text {
  text-align: center;
}

div#grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  height: 650px;
  width: 650px;
  margin-top: 25px;
  margin-bottom: 25px;
  box-shadow: 0 0 30px 0 rgba(4, 254, 4, 0.616);
  /* border: 1px solid black; */
}


#grid div {
  border: 1px dotted black;
  flex-grow: 1;
  height: 6.5%;
  width: 6.5%;
}

.character {
  background-image: url("/Assets/Red-Needle2.gif");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: crosshair;
}

.emptyCharacter {
  background-image: url("/Assets/Red-Needle2Empty.gif");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: crosshair;
}

.fire {
  background-image: url("/Assets/Missile-red.gif");
  background-repeat: no-repeat;
  background-size: contain ;
  background-position: center;
  cursor: crosshair;
}

.virusFire {
  background-image: url("/Assets/Virus-Missle-GIF.gif");
  object-fit: none;
  background-repeat: no-repeat;
  background-size: contain ;
  background-position: center;
  cursor: crosshair;
}

.virus {
  background-image: url("/Assets/Covid V4.gif");
  object-fit: none;
  background-repeat: no-repeat;
  background-size: contain ;
  background-position: center;
  cursor: crosshair;
}

.smoke {
  background-image: url("/Assets/SmokeGIF.gif");
  transform: rotate(180deg);
  object-fit: none;
  background-repeat: no-repeat;
  background-size: contain ;
  background-position: center;
  cursor: crosshair;
}

.smoke-reverse {
  background-image: url("/Assets/SmokeGIF.gif");
  object-fit: none;
  background-repeat: no-repeat;
  background-size: contain ;
  background-position: center;
  cursor: crosshair;
}

img {
  height: 100%;
  width: 100%;
  z-index: 1;
}