@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url('Assets/Covid-Background2.jpeg');
  background-repeat: no-repeat ;
  background-position: center;
  background-size: cover;
  text-align: center;
}

#main-container {
display: flex;
flex-direction: row;
align-items: stretch;
justify-content: center;

}

#game-container {
  width: 550px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

header {
  padding-top: 5px;
}

#game-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 35px; 
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 25px;
  background-color: rgba(0, 0, 0, 0.625);
  border: 5px solid limegreen;
  box-shadow: 0 0 30px 0 rgb(60, 255, 0);
  width: 550px;
  border-radius: 20px;
  color: rgb(255, 0, 0);
  height: 50px;
  animation: pulse 5s infinite;
}

#grid-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(26, 25, 25, 0);
  border-radius: 25px;
  background-image: url('Assets/Background-2v2.jpg');
  background-repeat: no-repeat ;
  background-position: center;
  background-size: cover;
}

#banner-container {
  display: flex;
  justify-content: space-around;
  align-items:center;
  height: 80px;
  background-image: url('Assets/Banner.jpg');
  background-repeat: no-repeat ;
  background-position: center;
  color: white;
  background-size: cover;
  border: 5px solid limegreen;
  box-shadow: 0 0 30px 0 rgb(60, 255, 0);
  border-radius: 25px;
  margin-top: 10px;
  animation: pulse 5s infinite;
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 30px 0 rgb(60, 255, 0);
    border: 5px solid limegreen;
	}

	50% {
		box-shadow: 0 0 30px 0 rgb(0, 238, 255);
    border: 5px solid rgb(0, 238, 255);
	}

	100% {
		box-shadow: 0 0 30px 0 rgb(60, 255, 0);
    border: 5px solid limegreen;
	}
}

.banner-item {
  height: 25px;
}

button {
  width: 100px;
  background-color: rgb(255, 251, 0);
  border-color: crimson;
  box-shadow: 0 0 10px 0 red;
  border-radius: 15px;
  font-family: 'Press Start 2P', cursive;
}

#level {
  font-family: 'Press Start 2P', cursive;
  color: white;
}

#level-span {
  padding-top: 5px;
}

#live-counter {
  font-size: larger;
}

.banner-text {
  text-align: center;
  margin-bottom: 25px;
}

span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1px;
}

.varaible-text {
  background-color: rgba(116, 116, 116, 0.562);
  border-radius: 10px;
  min-width: 100px;
  width: 100%;
  height: 30px;
}

#score {
  padding-top: 5px;
}

div#grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  height: 500px;
  width: 500px;
  margin-top: 25px;
  margin-bottom: 25px;
  box-shadow: 0 0 60px 0 rgb(0, 17, 255);
  border-radius: 10px;
}

#grid div {
  flex-grow: 1;
  height: 6.5%;
  width: 6.5%;
}

#leader-board {
  /* display: none; */
  background-color: rgba(0, 0, 0, 0.399);
  color: white;
  font-family: 'Press Start 2P', cursive;
  border-radius: 10px;
  position: absolute;
  top: 125px;
  left: -220px;
  height: 500px;
  width: 200px;
  overflow-y: scroll
}

h4 {
  text-decoration: underline;
  font-family: 'Press Start 2P', cursive;
  color: white;
}

.controls-box {
  position: absolute;
  color: white;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.399);
  border-radius: 10px;
  padding: 5px;
}

.gif-default {
  object-fit: none;
  background-repeat: no-repeat;
  background-size: contain ;
  background-position: center;
  cursor: crosshair;
}

.smoke {
  background-image: url("/Assets/BoomGIF4v2.gif");
  transform: rotate(180deg);
}

.smoke-reverse {
  background-image: url("Assets/SmokeGIF.gif");
}

.character {
  background-image: url("Assets/Red-Needle3.gif");
}

.emptyCharacter {
  background-image: url("Assets/Red-NeedleEmpty3.gif");
}

.fire {
  background-image: url("Assets/noemi-coute-laser2.gif");
}

.virusFire {
  background-image: url("Assets/red-covid-gif.gif");
}

.virus {
  background-image: url("Assets/Covid V4.gif");
}

img {
  height: 100%;
  width: 100%;
  z-index: 1;
}

#game-over-container {
  background-color: rgba(106, 255, 0, 0.584);
  height: 200px;
  width: 400px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 15px;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: 'Press Start 2P', cursive;
}

input {
  width: 200px;
}

p {
  margin-bottom: 0;
}

#submit, 
#close {
  margin-top: 10px;
  height: 25px;
}

#play-pause {
  margin-top: 5px;
  width: 200px;
}

table {
  padding-left: 18px;
}

td {
  font-size: 12px;
  text-align: justify;
  padding-right: 15px;
}